<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig"
	    factory-method="custom">
	    <property name="socketTimeout" value="60000" /> 
	    <property name="connectTimeout" value="60000" /> 
	</bean>
	
	<bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build" />
	
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder"
	    factory-method="create">
	    <property name="defaultRequestConfig" ref="requestConfig" />
	</bean>
	
	<bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build" />
</beans>